<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		
		<add key="File1Path" value="D:\NESProjects\CMPFiles\April2024-IDS.txt" />
		<add key="File2Path" value="D:\NESProjects\CMPFiles\Feb2024-IDS.txt" />
	

	</appSettings>
</configuration>